.headerMain {
  background: var(--background-content);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
  color: var(--border-sidebar);
}

.headerMain img {
  width: 70px;
  height: auto;
}

.headerMain div {
  font-size: 2rem;
  margin-top: 10px;
}
